html {
    background-color: #06402b;
    font-family: 'Times New Roman', Times, serif
}

 a:link {
        color: #0b6b44;
    }
    a:visited {
        color: #06402b;
}


.globalnav {
text-align: center;
list-style: none;
border-width: 2px;
    border-style: solid;
    border-color: rgb(70, 70, 0);
    border-radius: 5px;
    margin: 40px;
    background-color: #768948;
}


.options {
   background-color: #a1b86b;
    border-width: 2px;
    border-style: solid;
    border-color: #464600;
    border-radius: 5px;
    color: darkgreen;
    display: inline-block;
    margin: 10px;
    padding: 20px;
}


.internalnav {
    text-align: center;
    list-style: none;
    color:#F5F0F6;

}


.title {
    text-align: center;
    color:#F5F0F6;
    font-size: 75px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


.titletwo {
    text-align: center;
    font-size: 50px;
    color:#B6BD9F;
    margin-top: 20px;
    margin-bottom: 20px;
}


.options2 {
   background-color: #768948;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(70, 70, 0);
    border-radius: 5px;
    color: darkgreen;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    
}